<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Reevoo Santa</title>
	<%= stylesheet_link_tag "santa" %>
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" %>
</head>
<body>
  <div id="contentainer">
    <h1><a href="http://www.reevoo.com/" title="decide what to buy">Reevoo</a> Santa</h1>
    <% if flash[:notice] %>
      <div id="flash"><%= flash[:notice] %></div>
    <% end %>
    <div id="content">
      <%= yield %>
    </div>
    <div id="footer">
      <p>
        We at <a href="http://www.reevoo.com" title="Reevoo - Decide what to buy">Reevoo</a>
        <a href="http://www.reevoo.com/labs/2009/07/reevoo-santa/" title="Reevoo Santa related blog post">put this on the internet</a>
        because we trust you… it was a dumb idea… you are not to be trusted.
      </p>
      <p>
        Also here's <a href="http://www.vimeo.com/5426323" title="Reevoo Santa in Action">Reevoo Santa in action</a>.
      </p>
    </div>
  </div>

  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-9602216-1");
  pageTracker._trackPageview();
  } catch(err) {}</script>

</body>
</html>
